<div class="container">
  <h1>Event Maker Home</h1>

  <h2>Login or Sign up</h2>
    <ul>
      <li><a href="/sessions/new">Login: </a></li>
      <li><a href="/users/new">Signup:</a></li>
    </ul>
  
</div>
